<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>主页 | 分布式密码破解系统</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">分布式密码破解系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('crack.generate') }}">生成</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <form class="custom-form">
        <div class="form-group">
          <label for="hash_data">密码</label>
          <input type="email" class="form-control" id="hash_data" placeholder="密码（MD5 或 SHA1）">
        </div>
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="type" id="md5" value="0" checked> MD5
          </label>
          <label class="radio-inline">
            <input type="radio" name="type" id="sha1" value="1"> SHA1
          </label>
        </div>
        <button type="submit" class="btn btn-primary" id="crack">破解</button>
      </form>
    </div><!-- /.container -->

    <div class="container">
      <p>破解进度</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress">
          0%
        </div>
      </div>
    </div>

    <div class="container">
      <table class="table custom-table">
        <caption>
          破解任务列表
        </caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>密码</th>
            <th>类型</th>
            <th>状态</th>
            <th>原始密码</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/jquery-3.6.0/jquery-3.6.0.min.js"><\/script>')</script>
    <script src="../static/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
        // window.is_regularly_refresh = false;

        function type_value() {
          var type = "0";
          if ($("#md5").is(":checked")) {
            type = "0";
          } else if ($("#sha1").is(":checked")) {
            type = "1";
          }
          return type
        }

        function type_name(type) {
          if (type == 0) {
            return "MD5";
          } else if (type == 1) {
            return "SHA1";
          }
        }

        function refresh() {
          seconds = 2; // 2 秒定时刷新

          $.ajax({
            url: "{{ url_for('index') }}",
            data: {},
            type: "POST",
            dataType: "json",
            success: function (json) {
              console.log("refresh:");
              // console.log("refresh: is_regularly_refresh = " + window.is_regularly_refresh);
              console.log(json);
              $("#tbody").empty();
              for (var i = 0; i < json.length; i++) {
                var tr = '';
                if (json[i].state == 0) {
                  // TODO: 修改样式
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + type_name(json[i].type) + '</td>' +
                    '<td>' + '排队中' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '<button type="button" class="btn btn-danger" id="stop_task">停止</button>' + '</td></tr>';
                } else if (json[i].state == 1) {
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + type_name(json[i].type) + '</td>' +
                    '<td>' + '运行中' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '<button type="button" class="btn btn-danger" id="stop_task">停止</button>' + '</td></tr>';
                } else if (json[i].state == 2) {
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + type_name(json[i].type) + '</td>' +
                    '<td>' + '已完成' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '' + '</td></tr>';
                } else if (json[i].state == 3) {
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + type_name(json[i].type) + '</td>' +
                    '<td>' + '已取消' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '' + '</td></tr>';
                } else if (json[i].state == 4) {
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + type_name(json[i].type) + '</td>' +
                    '<td>' + '未破解' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '' + '</td></tr>';
                }
                $("#tbody").append(tr);
              }

              $("#stop_task").click(function (event) {
                // TODO: 停止任务
                const id = $("#id").text();
                $.ajax({
                  url: "{{ url_for('crack.stop_task') }}",
                  data: {
                    id: id
                  },
                  type: "POST",
                  dataType: "html",
                  success: function (data) {
                    console.log("stop task:");
                  },
                  error: function (xhr, status, errorThrown) {
                    // alert("Sorry, there was a problem!");
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                  }
                });
              });
            },
            error: function (xhr, status, errorThrown) {
              // alert("Sorry, there was a problem!");
              console.log("Error: " + errorThrown);
              console.log("Status: " + status);
              console.dir(xhr);
            }
          });

          $.ajax({
            url: "{{ url_for('crack.get_progress') }}",
            data: {},
            type: "GET",
            dataType: "json",
            success: function (json) {
              console.log("progress:");
              // console.log("progress: is_regularly_refresh = " + window.is_regularly_refresh);
              console.log(json);
              if (json.progress == -1) {
                $("#progress").attr("aria-valuenow", "0");
                $("#progress").attr("style", "width: 0%");
                $("#progress").text("0 %");
                // window.is_regularly_refresh = false; // 破解完成，取消定时刷新
                // console.log("progress == -1: is_regularly_refresh = " + window.is_regularly_refresh);
              } else {
                var progress = (json.progress * 100).toFixed(2);
                $("#progress").attr("aria-valuenow", progress);
                $("#progress").attr("style", "width: " + progress + "%");
                $("#progress").text(progress + " %");
                // window.is_regularly_refresh = true; // 正在破解，定时刷新
                // console.log("progress != -1: is_regularly_refresh = " + window.is_regularly_refresh);
              }
            },
            error: function (xhr, status, errorThrown) {
              // alert("Sorry, there was a problem!");
              console.log("Error: " + errorThrown);
              console.log("Status: " + status);
              console.dir(xhr);
            }
          });

          // console.log("if: is_regularly_refresh = " + window.is_regularly_refresh);
          /*
          if (window.is_regularly_refresh) {
            setTimeout(refresh, seconds * 1000);
          }
          */
          setTimeout(refresh, seconds * 1000);
        };

        // 首次加载页面，刷新一次
        // window.is_regularly_refresh = false;
        // console.log("ready -> before refresh(): is_regularly_refresh = " + window.is_regularly_refresh);
        refresh();
        // console.log("ready -> after refresh(): is_regularly_refresh = " + window.is_regularly_refresh);

        $("#crack").click(function (event) {
          const hash_data= $("#hash_data").val();
          $("#hash_data").val("");
          
          // 开始定时刷新
          // window.is_regularly_refresh = true;
          // console.log("crack -> before refresh(): is_regularly_refresh = " + window.is_regularly_refresh);
          // refresh();
          // console.log("crack -> after refresh(): is_regularly_refresh = " + window.is_regularly_refresh);

          $.ajax({
            url: "{{ url_for('crack.crack') }}",
            data: {
              hash_data: hash_data,
              type: type_value()
            },
            type: "POST",
            dataType: "json",
            success: function (json) {
              console.log("crack:");
              alert("原始密码：" + json.raw);
            },
            error: function (xhr, status, errorThrown) {
              // alert("Sorry, there was a problem!");
              console.log("Error: " + errorThrown);
              console.log("Status: " + status);
              console.dir(xhr);
            }
          });
        });
      });
    </script>
  </body>
</html>
