<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>主页 | 分布式密码破解系统</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">分布式密码破解系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('crack.generate') }}">生成</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <form class="custom-form">
        <div class="form-group">
          <label for="hash_data">密码</label>
          <input type="email" class="form-control" id="hash_data" placeholder="密码（MD5 或 SHA1）">
        </div>
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="type" id="md5" value="0" checked> MD5
          </label>
          <label class="radio-inline">
            <input type="radio" name="type" id="sha1" value="1"> SHA1
          </label>
        </div>
        <button type="submit" class="btn btn-primary" id="crack">破解</button>
      </form>
    </div><!-- /.container -->

    <div class="container">
      <p>运行中任务的破解进度</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress">
          0%
        </div>
      </div>
    </div>

    <div class="container">
      <table class="table custom-table">
        <caption>
          破解任务列表
        </caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>密码</th>
            <th>类型</th>
            <th>状态</th>
            <th>原始密码</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/jquery-3.6.0/jquery-3.6.0.min.js"><\/script>')</script>
    <script src="../static/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {

        function typeValue() {
          var type = "0";
          if ($("#md5").is(":checked")) {
            type = "0";
          } else if ($("#sha1").is(":checked")) {
            type = "1";
          }
          return type
        }

        function typeName(type) {
          if (type === 0) {
            return "MD5";
          } else if (type === 1) {
            return "SHA1";
          }
        }

        var timer; // 定时刷新变量

        function refresh() {
          seconds = 2;

          $.ajax({
            url: "{{ url_for('index') }}",
            data: {},
            type: "POST",
            dataType: "json",
            success: function (json) {
              console.log("refresh:");
              console.log(json);
              $("#tbody").empty();
              for (var i = 0; i < json.length; i++) {
                var tr = '';
                if (json[i].state === 0) {
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '排队中' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '<button type="button" class="btn btn-danger cancel-task">取消</button>' + '</td></tr>';
                } else if (json[i].state === 1) {
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '运行中' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '<button type="button" class="btn btn-danger cancel-task">取消</button>' + '</td></tr>';
                } else if (json[i].state === 2) {
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '已完成' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '' + '</td></tr>';
                } else if (json[i].state === 3) {
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '已取消' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '' + '</td></tr>';
                } else if (json[i].state === 4) {
                  tr = '<tr>' + 
                    '<td>' + json[i].id + '</td>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '未破解' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '' + '</td></tr>';
                }
                $("#tbody").append(tr);
              }

              $(".cancel-task").click(function (event) {
                const id = $(".cancel-task").parent().prevAll().last().text(); // 选择该任务的 id
                console.log("cancel-task -> id: " + id);
                $.ajax({
                  url: "{{ url_for('crack.cancel_task') }}",
                  data: {
                    id: id
                  },
                  type: "POST",
                  dataType: "json",
                  success: function (json) {
                    console.log("cancel-task:");
                  },
                  error: function (xhr, status, errorThrown) {
                    // alert("Sorry, there was a problem!");
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                  }
                });
              });
            },
            error: function (xhr, status, errorThrown) {
              // alert("Sorry, there was a problem!");
              console.log("Error: " + errorThrown);
              console.log("Status: " + status);
              console.dir(xhr);
            }
          });

          $.ajax({
            url: "{{ url_for('crack.get_progress') }}",
            data: {},
            type: "GET",
            dataType: "json",
            success: function (json) {
              console.log("progress:");
              console.log(json);
              if (json.progress === -1) {
                $("#progress").attr("aria-valuenow", "0");
                $("#progress").attr("style", "width: 0%");
                $("#progress").text("0 %");
                if((typeof timer) === "undefined") {
                  timer = 0;
                }
                clearTimeout(timer);
              } else if (json.progress === 1) {
                // 破解进度为 100 % 时改成 0 %，使进度看起来更自然
                $("#progress").attr("aria-valuenow", "0");
                $("#progress").attr("style", "width: 0%");
                $("#progress").text("0 %");
              } else {
                var progress = (json.progress * 100).toFixed(2);
                $("#progress").attr("aria-valuenow", progress);
                $("#progress").attr("style", "width: " + progress + "%");
                $("#progress").text(progress + " %");
              }
            },
            error: function (xhr, status, errorThrown) {
              // alert("Sorry, there was a problem!");
              console.log("Error: " + errorThrown);
              console.log("Status: " + status);
              console.dir(xhr);
            }
          });

          timer = setTimeout(refresh, seconds * 1000); // 定时刷新
        };

        refresh();

        $("#crack").click(function (event) {
          event.preventDefault();

          const hash_data= $("#hash_data").val();
          $("#hash_data").val("");
          setTimeout(refresh, 2000); // 延迟 2 秒再刷新

          $.ajax({
            url: "{{ url_for('crack.crack') }}",
            data: {
              hash_data: hash_data,
              type: typeValue()
            },
            type: "POST",
            dataType: "json",
            success: function (json) {
              console.log("crack:");
              console.log(json);
              if (!json.hasOwnProperty("results")) {
                var message = "";
                for (var i = 0; i < json.length; i++) {
                  var task = json[i];
                  message = message + "密码：" + task.hash + "    类型：" + typeName(task.type)
                      + "    原始密码：" + task.raw + "\n";
                }
                alert(message);
              }
            },
            error: function (xhr, status, errorThrown) {
              // alert("Sorry, there was a problem!");
              console.log("Error: " + errorThrown);
              console.log("Status: " + status);
              console.dir(xhr);
            }
          });
        });
      });
    </script>
  </body>
</html>
