<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>主页 | 分布式密码破解系统</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-4.6.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../static/style.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">分布式密码破解系统</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault"
        aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">主页 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('crack.generate') }}">生成</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="row">
        <div class="col">
          <form>
            <div class="form-group">
              <label for="hash-data">密码</label>
              <input type="text" class="form-control" id="hash-data" placeholder="密码（MD5 或 SHA1）">
            </div>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="md5" value="0" checked>
                <label class="form-check-label" for="md5"> MD5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="sha1" value="1">
                <label class="form-check-label" for="sha1"> SHA1</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" id="crack">破解</button>
          </form>
        </div>
      </div>
      <div class="row row-margin-top-bottom">
        <div class="col">
          <p>运行中任务的破解进度</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress">
              0 %
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">密码</th>
                <th scope="col">类型</th>
                <th scope="col">状态</th>
                <th scope="col">原始密码</th>
                <th scope="col">操作</th>
              </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
          </table>
        </div>
      </div>
    </main><!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/jquery-3.6.0/jquery-3.6.0.min.js"><\/script>')</script>
    <script src="../static/bootstrap-4.6.0/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function () {

        function typeValue() {
          var type = "0";
          if ($("#md5").is(":checked")) {
            type = "0";
          } else if ($("#sha1").is(":checked")) {
            type = "1";
          }
          return type
        }

        function typeName(type) {
          if (type === 0) {
            return "MD5";
          } else if (type === 1) {
            return "SHA1";
          }
        }

        var timer; // 定时刷新变量

        function refresh() {
          seconds = 2;

          $.ajax({
            url: "{{ url_for('index') }}",
            data: {},
            type: "POST",
            dataType: "json",
            success: function (json) {
              console.log("refresh:");
              console.log(json);
              $("#tbody").empty();
              for (var i = 0; i < json.length; i++) {
                var tr = '';
                if (json[i].state === 0) {
                  tr = '<tr class="table-info">' + 
                    '<th scope="row">' + json[i].id + '</th>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '排队中' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '<button type="button" class="btn btn-danger cancel-task">取消</button>' + '</td></tr>';
                } else if (json[i].state === 1) {
                  tr = '<tr class="table-primary">' + 
                    '<th scope="row">' + json[i].id + '</th>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '运行中' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '<button type="button" class="btn btn-danger cancel-task">取消</button>' + '</td></tr>';
                } else if (json[i].state === 2) {
                  tr = '<tr class="table-success">' + 
                    '<th scope="row">' + json[i].id + '</th>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '已完成' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '' + '</td></tr>';
                } else if (json[i].state === 3) {
                  tr = '<tr class="table-warning">' + 
                    '<th scope="row">' + json[i].id + '</th>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '已取消' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '' + '</td></tr>';
                } else if (json[i].state === 4) {
                  tr = '<tr class="table-danger">' + 
                    '<th scope="row">' + json[i].id + '</th>' +
                    '<td>' + json[i].hash + '</td>' +
                    '<td>' + typeName(json[i].type) + '</td>' +
                    '<td>' + '未破解' + '</td>' +
                    '<td>' + json[i].raw + '</td>' +
                    '<td>' + '' + '</td></tr>';
                }
                $("#tbody").append(tr);
              }

              $(".cancel-task").click(function (event) {
                const id = $(".cancel-task").parent().prevAll().last().text(); // 选择该任务的 id
                console.log("cancel-task -> id: " + id);
                $.ajax({
                  url: "{{ url_for('crack.cancel_task') }}",
                  data: {
                    id: id
                  },
                  type: "POST",
                  dataType: "json",
                  success: function (json) {
                    console.log("cancel-task:");
                  },
                  error: function (xhr, status, errorThrown) {
                    // alert("Sorry, there was a problem!");
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                  }
                });
              });
            },
            error: function (xhr, status, errorThrown) {
              // alert("Sorry, there was a problem!");
              console.log("Error: " + errorThrown);
              console.log("Status: " + status);
              console.dir(xhr);
            }
          });

          $.ajax({
            url: "{{ url_for('crack.get_progress') }}",
            data: {},
            type: "GET",
            dataType: "json",
            success: function (json) {
              console.log("progress:");
              console.log(json);
              if (json.progress === -1) {
                $("#progress").attr("aria-valuenow", "0");
                $("#progress").attr("style", "width: 0%");
                $("#progress").text("0 %");
                if((typeof timer) === "undefined") {
                  timer = 0;
                }
                clearTimeout(timer);
              } else if (json.progress === 1) {
                // 破解进度为 100 % 时改成 0 %，使进度看起来更自然
                $("#progress").attr("aria-valuenow", "0");
                $("#progress").attr("style", "width: 0%");
                $("#progress").text("0 %");
              } else {
                var progress = (json.progress * 100).toFixed(2);
                $("#progress").attr("aria-valuenow", progress);
                $("#progress").attr("style", "width: " + progress + "%");
                $("#progress").text(progress + " %");
              }
            },
            error: function (xhr, status, errorThrown) {
              // alert("Sorry, there was a problem!");
              console.log("Error: " + errorThrown);
              console.log("Status: " + status);
              console.dir(xhr);
            }
          });

          timer = setTimeout(refresh, seconds * 1000); // 定时刷新
        };

        refresh();

        $("#crack").click(function (event) {
          event.preventDefault();

          var hashData= $("#hash-data").val();
          $("#hash-data").val("");
          var type = typeValue();

          // 检查输入
          hashData = hashData.trim();
          var reMD5 = /^[0-9a-f]{32}(\s*,\s*[0-9a-f]{32})*$/;
          var reSHA1 = /^[0-9a-f]{40}(\s*,\s*[0-9a-f]{40})*$/;
          if (!reMD5.exec(hashData) && !reSHA1.exec(hashData)) {
            // TODO: 提醒用户
            console.log("input error!");
            return;
          }

          setTimeout(refresh, 2000); // 延迟 2 秒再刷新

          $.ajax({
            url: "{{ url_for('crack.crack') }}",
            data: {
              hash_data: hashData,
              type: type
            },
            type: "POST",
            dataType: "json",
            success: function (json) {
              console.log("crack:");
              console.log(json);
              if (!json.hasOwnProperty("results")) {
                var message = "";
                for (var i = 0; i < json.length; i++) {
                  var task = json[i];
                  message = message + "密码：" + task.hash + "    类型：" + typeName(task.type)
                      + "    原始密码：" + task.raw + "\n";
                }
                alert(message);
              }
            },
            error: function (xhr, status, errorThrown) {
              // alert("Sorry, there was a problem!");
              console.log("Error: " + errorThrown);
              console.log("Status: " + status);
              console.dir(xhr);
            }
          });
        });
      });
    </script>
  </body>
</html>
